html {
    background-color: hsl(36, 100%, 99%);
    font-size: 15px;
}

p {
    font-size: 1rem;
    color: hsl(236, 13%, 42%);
    line-height: 1.7;
}

* {
    font-family: "Inter", sans-serif;
}

#top-bar-desktop {
    grid-area: top;
    display: none;
}

#top-bar-mobile {
    margin: 25px 0px;
    grid-area: top;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}


@media (min-width: 1110px) {
    #top-bar-mobile {
        display: none;
    }

    #top-bar-desktop {
        margin: 25px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }

    #top-bar-desktop nav ul {
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: flex-end;
        align-items: center;
    } 

    #top-bar-desktop nav li {
        list-style: none;
    }

    #top-bar-desktop nav a {
        text-decoration: none;
        color: hsl(236, 13%, 42%);
    }

    #top-bar-desktop nav a:hover {
        color: hsl(5, 85%, 63%);
    }
}

#container {
    grid-area: bottom;
    display: grid;
    grid-auto-columns: 370px;
    justify-content: center;
    column-gap: 0.75rem;
    row-gap: 0.75rem;
    grid-template-areas:
    'top'
    'one'
    'two'
    'three'
    'four'
    'five'
    'six'
    'seven'
}

#main-image {
    grid-area: one;
}

#main-heading {
    grid-area: two;
    align-self: start;
}

#main-heading h1 {
    font-size: 3rem;
    margin: 0;
    padding: 10px;
}

#main-paragraph {
    grid-area: three;
}

#main-paragraph p {
    margin: 0;
    padding: 10px;
}

#new-bar {
    grid-area: four;
}

.bottom-bar-item:nth-child(1) {
    grid-area: five;
}

.bottom-bar-item:nth-child(2) {
    grid-area: six;
}

.bottom-bar-item:nth-child(3) {
    grid-area: seven;
}

@media (min-width: 1110px) {
    #container {
        display: grid;
        justify-content: center;
        column-gap: 0.75rem;
        row-gap: 0.75rem;
        grid-template-columns: 365px 365px 350px;
        grid-template-rows: 300px auto-fill 80px 140px;
        grid-template-areas:
            'top top top'
            'one one four'
            'two three four'
            'white white white'
            'five six seven';
    }

    .white-bar {
        grid-area: white;
    }

    #main-heading h1 {
        padding-right: 60px;
    }

    .white-bar {
        grid-area: white;
    }
}

#main-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bottom-bar-item {
    display: grid;
    grid-template-columns: 112px auto;
    grid-template-rows: 140px;
    column-gap: 1rem;
    grid-template-areas: 
    'one two';

    .bottom-bar-item.bottom-bar-image {
        grid-area: one;
    }
    
    .bottom-bar-text {
        grid-area: two;
    }

    .bottom-bar-text h3,
    .bottom-bar-text h5,
    .bottom-bar-text p {
        margin: 0;
    }
}

.bottom-bar-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

#main-image img,
#main-image source {
    height: 300px; 
}

button {
    background-color: hsl(5, 85%, 63%);
    color: hsl(240, 100%, 5%);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 10px 30px;
    border: none;
}

button:hover {
    background-color: hsl(240, 100%, 5%);
    color: white;
}

#new-bar h2 {
    color: hsl(35, 77%, 62%);
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 25px;
} 

h3 {
    color: hsl(5, 85%, 63%);
    font-size: 2rem;
} 

h5 {
    font-size: 1.1rem;
}

#new-bar {
    min-width: 300px;
    max-width: 320px;
    background-color: hsl(240, 100%, 5%);
    padding: 25px;
}

#new-bar p {
    color: hsl(233, 8%, 79%);
}

#new-bar h5 {
    color: white;
}

#new-bar h5:hover {
    color: hsl(35, 77%, 62%);
}

.bottom-bar-item h5:hover {
    color: hsl(5, 85%, 63%);
}

.item-new-bar {
    border-bottom: 1px solid hsl(233, 8%, 79%);
}

.item-new-bar:nth-last-child(1) {
    border-bottom: none;
}

.bottom-bar-image {
    height: 140px;
}