:root {
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
    --font-size: 28px;
    --font-family: "Manrope", sans-serif;
}

* {
    font-family: var(--font-family);
}

html {
    background-color: var(--dark-blue);
    height: 100%;
}

#advice-container {
    background-color: var(--dark-blue);
    display: grid;
    place-items: center;
    height: 100vh;
}

#advice-card {
    background-color: var(--dark-grayish-blue);
    width: 500px;
    height: 300px;
    border-radius: 5%;
    display: grid;
    justify-items: center;
    padding: 15px;
    position: relative;
    width: 90%;
    max-width: 550px;
}

#advice-header {
    color: var(--neon-green);
    text-transform: uppercase;
    letter-spacing: 4px;
}

#advice {
    color: var(--light-cyan);
    font-size: 2rem;
}

#pattern-divider-image {
    padding-bottom: 4%;
}

#icon-box {
    background-color: var(--neon-green);
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: grid;
    place-items: center;
    align-self: end;
    position: absolute;
    bottom: -8%;
}
